
    <header>
     <nav class=" logo navbar navbar-expand-lg navbar-dark bg-primary" style="margin-left: 1500px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" style="color:white" href="/main/goals/edit-goals/{{backString}}/add-song">Volver <span class="sr-only">(current)</span></a>
     </nav>
     </div>
</header>
<div class="spoti-box spoti-box-tracks">
  {{#each tracksPage}}
  <form action="/main/track/{{id}}" method="POST">
    <input type="text" name="songId" value="{{id}}" id="">
    <input type="text" name="name" value="{{name}}" id=""><br>
    <button class="scnd-text btn btn-lg btn-dark lookfor-spoti" type="submit">Add</button>
  </form>
  <div class=" col-6">
    <p class="scnd-text">{{name}}</p>
    <audio controls src="{{preview_url}}"></audio>
  </div>
  <div>
    <a class="black scnd-text back-spoti" href="/main/{{album.id}}/tracks"> <br>&#8592 back</a>

  </div>

  {{/each}}
</div>