    <header>
     <nav class=" logo navbar navbar-expand-lg navbar-dark bg-primary" style="margin-left: 1500px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" style="color:white" href="/main/goals/edit-goals/{{backString.0.backString}}/add-song">Volver <span class="sr-only">(current)</span></a>
     </nav>
     </div>
</header>
{{#each tracksPage}}

<div class="row">

    <div class=" col-6">

        <h5 style="margin-top: 20px;" class="card-title">{{name}}</h5>
        
           
              <form action="/main/track/{{id}}" method="get">
                {{id}}
               <button class="btn btn-dark"type="submit">ver</button>
        
              </form>
        </form>
    </div>

    <div class=" col-6">

        <audio controls src="{{preview_url}}"></audio>
    </div>

</div>

</div>
</article>
</div>
{{/each}}
