<body>
    <h2 class="logo">Motiv //edit goal</h2>
<a class="add" href="/main/goals/edit-goals/{{goal.id}}/add-content">Add Motiv</a> 
    
    <div class="container">
       
        <div class="wrapper">
            <div class="tittle">
                <h3>{{goal.name}}</h3>
            </div>
            </h3>
            <div class="grid gutterless">
                {{#each goal.content}}
                <a href="#"><div class="brick">
                    <img src="{{image}}" alt="{{name}}" title="" />
                    <p>{{sentence}}</p>
                </div></a>
               
                {{/each}}
            </div>
        </div>
    </div>
</body>
</html>